name: Test Workflow

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
          java-package: 'jdk'
          architecture: 'x64'
          check-latest: false
          server-id: 'github'
          server-username: ${{ github.actor }}
          server-password: ${{ github.token }}
          overwrite-settings: true
          job-status: 'success'

      - name: Cache Maven dependencies
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Set up WireGuard # Setting up the Wiregaurd to access the openg2p url's
        run: |
          sudo apt-get update
          sudo apt-get install -y wireguard
          sudo cp scripts/openg2p-e2e.conf /etc/wireguard/
          sudo systemctl start wg-quick@openg2p-e2e.service

      - name: Install Google Chrome
        run: |
          wget https://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-stable/google-chrome-stable_120.0.6099.129_amd64.deb
          sudo apt install ./google-chrome-stable_120.0.6099.129_amd64.deb

      - name: Install ChromeDriver
        run: |
          CHROMEDRIVER_VERSION="114.0.5735.90" # Replace with the compatible Chrome version
          wget -N https://chromedriver.storage.googleapis.com/${CHROMEDRIVER_VERSION}/chromedriver_linux64.zip -P /tmp/
          sudo unzip /tmp/chromedriver_linux64.zip -d /usr/local/bin/
          sudo chmod +x /usr/local/bin/chromedriver
      
      - name: Build with Maven
        run: mvn clean install -DskipTests=true

      - name: Run Sanity tests
        run: mvn clean test
 
